.mediainput {
    display: inline-block;
}
.mediainput button {
    vertical-align: top;
}
.mediainput span {
    vertical-align: top;
    display: inline-block;
    min-width: 90px;
    min-height: 24px;
    line-height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #eee;
    padding: 5px;
    margin-right: 5px;
    cursor: pointer;
}