body, html { height:100% }

.wrapper {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "content";
    grid-template-rows: auto auto 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

header {
    grid-area: header;
    background: #1e2228;
    color: #7d8591;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    padding-left: 10px;
}
header div {
    float: right;
}
nav {
    grid-area: nav;
    background-color: #30343a;
}
nav li span {
    padding: 0 48px 0 0;
}
nav i {
    width: 40px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    margin: 12px 0 0 4px;
}
nav li a {
    color: #919dad;
    line-height: 45px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px solid #474d56;
    border-left: 3px solid #30343a;
}
nav li a:hover {
    color: #fff;
    border-left: 3px solid #d8ff19;
}

main {
    grid-area: content;
    padding: 20px 20px;
    line-height: 1.5em;
}

.fa-button {
  background: none;
  padding: 0px;
  border: none;
}
.list {
    border-bottom: 1px solid #ccc;
}
.list th {
    padding: 5px;
    text-align: left;
    /*font-weight: bold;*/
    color: #fff;
    text-shadow: 0 -1px 0 #4e657a;
    background: #66849e;
    border-left: 1px solid #4e657a;
}
.list th:last-child {
    border-right: 1px solid #4e657a;
}
.list th a {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    display: block;
}
.list td {
    text-shadow: 0 1px 0 #fff;
    padding: 5px;
    border-left: 1px solid #ccc;
}
.list td:last-child {
    border-right: 1px solid #ccc;
}
.list tbody tr:nth-child(2n + 1) {
    background: #fdfdfd;
}

.list tbody tr:nth-child(2n) {
    background: #ececec;
}
.list tr:hover td {
    background-color: #d7e7f7;
}
.list a.action-button {
    text-decoration: none;
    color: #0056ad;
}
.list a.action-button:hover {
    color: #708eaa;
}

.pager {
    padding: 10px 0;
    text-align: center;
}
.pager span {
    padding: 0 5px;
    color: #aaa;
}
.pager a {
    text-decoration: none;
    color: #0056ad;
}

.default-button {
    background-color: #376ca3;
    text-shadow: 0 -1px 0 #193d63;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 3px solid #193d63;
    padding: 7px 12px 6px 12px;
    text-decoration: none;
    color: #fff;
}
.default-button:hover {
    background-color: #6a87a5;
    border-bottom: 3px solid #4e5d6d;
    text-shadow: 0 -1px 0 #4e5d6d;
}
.default-button i {
    padding-right: 6px;
}

.button {
    background-color: #717982;
    text-shadow: 0 -1px 0 #54575b;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 3px solid #54575b;
    padding: 7px 12px 6px 12px;
    text-decoration: none;
    color: #fff;
}
.button:hover {
    background-color: #9a9ca0;
    border-bottom: 3px solid #717982;
    text-shadow: 0 -1px 0 #717982;
}
.button i {
    padding-right: 6px;
}

h1 {
    font-weight: bold;
    color: #415468;
    font-size: 22px;
    padding-bottom: 24px;
}
.form-row {
    padding-bottom: 10px;
}
.form-row input {
    font-size: 14px;
    font-family: Arial, sans-serif;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-top: 2px solid #bbb;
    padding: 7px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5e5e5+2,ffffff+28 */
    background: #e5e5e5; /* Old browsers */
    background: -moz-linear-gradient(top, #e5e5e5 2%, #ffffff 28%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #e5e5e5 2%,#ffffff 28%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #e5e5e5 2%,#ffffff 28%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */    
}
.clear {
    clear: both;
}
.form-row label {
    font-weight: bold;
    color: #555;
}
.form-row input[type="text"], input[type="password"] {
    min-width: 400px;
}
.form-error {
    color: #d14638;
}
.buttons {
    float: left;
}
.buttons a {
    display: inline-block;
    width: auto;
    vertical-align: middle; 
}

.filter-form {
    float: right;
}
.filter-form .form-row, .filter-form .form-label, .filter-form .form-input {
    display: inline;
}

.filter-form .form-row input {
    min-width: 150px;
}
.filter-form .form-row input, .filter-form .form-row button {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .wrapper {
        grid-template-rows: 40px auto;
        grid-template-columns: 250px auto;
        grid-template-areas:
            "header  header"
            "nav     content";
    }
}
