body, html { height:100% }

.wrapper {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "content";
    grid-template-rows: auto auto 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

header {
    grid-area: header;
    background: #1e2228;
    color: #7d8591;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    padding-left: 10px;
}
header div {
    float: right;
}
nav {
    grid-area: nav;
    background-color: #30343a;
}
nav li span {
    padding: 0 48px 0 0;
}
nav i {
    width: 40px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    margin: 10px 0 0 4px;
}
nav li a {
    color: #919dad;
    line-height: 45px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px solid #474d56;
    border-left: 3px solid #30343a;
}
nav li a:hover {
    color: #fff;
    border-left: 3px solid #d8ff19;
}

main {
    grid-area: content;
    padding: 5px 20px;
    line-height: 1.5em;
}

.fa-button {
  background: none;
  padding: 0px;
  border: none;
}

.list th {
    padding: 5px;
    text-align: left;
    /*font-weight: bold;*/
    color: #fff;
    text-shadow: 0 -1px 0 #4e657a;
    background: #66849e;
    border-left: 1px solid #4e657a;
}
.list th:last-child {
    border-right: 1px solid #4e657a;
}
.list td {
    text-shadow: 0 1px 0 #fff;
    padding: 5px;
    border-left: 1px solid #ccc;
}
.list td:last-child {
    border-right: 1px solid #ccc;
}
.list tbody tr:nth-child(2n + 1) {
    background: #fdfdfd;
}

.list tbody tr:nth-child(2n) {
    background: #ececec;
}
.list tr:hover td {
    background-color: #d7e7f7;
}

.pager {
    padding: 10px 0;
    text-align: center;
}
.pager span {
    padding: 0 5px;
    color: #aaa;
}
.pager a {
    text-decoration: none;
    color: #0056ad;
}
a.action-button {
    text-decoration: none;
    color: #0056ad;
}
a.action-button:hover {
    color: #708eaa;
}

@media (min-width: 768px) {
    .wrapper {
        grid-template-rows: 40px auto;
        grid-template-columns: 250px auto;
        grid-template-areas:
            "header  header"
            "nav     content";
    }
}
